@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



h1 {
    font-style: 'Josefin Sans', arial;
}






/*Footer*/
.attribution { font-size: 11px; 
    text-align: 
    center; }

.attribution a { 
    color: hsl(228, 45%, 44%); }